*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.splash-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.splash-container > img{
    width: 20%;
}
.splash-container > p{
    margin-top: 150px;
    font-size: 15px;
    color: #4D4C7D;
}